node_modules/
.expo/
.expo-shared/
dist/
web-build/
*.log
.env
.env.local
.env.*.local
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*

# macOS
.DS_Store

# IDE
.idea/
.vscode/

# Builds
ios/
android/
